---
http_interactions:
- request:
    method: get
    uri: https://app.alegra.com/api/v1/categories?format=plain
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZWplbXBsb2FwaUBkYXlyZXAuY29tOjA2NmIzYWIwOWU3MmQ0NTQ4ZTg4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '150'
      X-Rate-Limit-Reset:
      - "-2"
      X-Rate-Limit-Remaining:
      - '149'
    body:
      encoding: UTF-8
      string: '[{"id":"5001","idParent":"5026","name":"Inversiones","description":"","type":"asset","readOnly":false,"categoryRule":null},{"id":"5002","idParent":"5026","name":"Pr\u00e9stamos
        a terceros","description":"","type":"asset","readOnly":false,"categoryRule":null},{"id":"5003","idParent":"5073","name":"Alquiler
        de equipos y licencias","description":"","type":"expense","readOnly":false,"categoryRule":null},{"id":"5004","idParent":"5073","name":"Comisiones
        y honorarios","description":"","type":"expense","readOnly":false,"categoryRule":null},{"id":"5005","idParent":"5073","name":"Transporte
    [...]
