---
http_interactions:
- request:
    method: post
    uri: https://app.alegra.com/api/v1/bank-accounts
    body:
      encoding: UTF-8
      string: '{"name":"test","type":"bank","initialBalance":"100000","initialBalanceDate":"2020-02-25"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic aW5mb0BxdWluY2VuYS5tZTo2ZTZhOGVkODhkOGNhMmIyN2MyMg==
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '150'
      X-Rate-Limit-Reset:
      - '11'
      X-Rate-Limit-Remaining:
      - '148'
    body:
      encoding: UTF-8
      string: '{"id":"9","name":"test","number":null,"description":"","type":"bank","status":"active"}'
  recorded_at: Wed, 26 Feb 2020 01:06:41 GMT
recorded_with: VCR 5.1.0
