---
http_interactions:
- request:
    method: post
    uri: https://app.alegra.com/api/v1/invoices
    body:
      encoding: UTF-8
      string: '{"date":"2016-10-12","dueDate":"2016-10-12","client":1,"items":[{"id":1,"price":40,"quantity":5},{"id":2,"description":"Brown
        leather wallet","price":80,"discount":10,"tax":[{"id":3}],"quantity":1}],"accountNumber":1234,"paymentMethod":"cash","stamp":{"generateStamp":true}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZWplbXBsb2FwaUBkYXlyZXAuY29tOjA2NmIzYWIwOWU3MmQ0NTQ4ZTg4
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Rate-Limit-Limit:
      - '150'
      X-Rate-Limit-Reset:
      - '57'
      X-Rate-Limit-Remaining:
      - '146'
    body:
      encoding: UTF-8
      string: '{"id":"4","date":"2016-10-12","dueDate":"2016-10-12","observations":null,"anotation":null,"termsConditions":"Esta
        factura se asimila en todos sus efectos a una letra de cambio de conformidad
        con el Art. 774 del c\u00f3digo de comercio. Autorizo que en caso de incumplimiento
        de esta obligaci\u00f3n sea reportado a las centrales de riesgo, se cobraran
        intereses por mora.","status":"draft","client":{"id":"1","name":"cliente","identification":"123456789","phonePrimary":"","phoneSecondary":"","fax":"","mobile":"3004232123","email":"cliente@test.com","address":{"address":"calle
        1 # 3-2","city":"Medellin"}},"numberTemplate":{"id":"1","prefix":null,"number":"4","text":null},"total":284,"totalPaid":0,"seller":null,"priceList":null,"items":[{"id":1,"name":"item1","description":null,"price":40,"discount":"","reference":null,"quantity":5,"tax":[],"total":200},{"id":2,"name":"item2","description":"Brown
        leather wallet","price":80,"discount":"10","reference":null,"quantity":1,"tax":[{"id":"3","name":"IVA","percentage":"16.00","description":"","type":"IVA"}],"total":84}]}'
  recorded_at: Fri, 14 Oct 2016 14:47:14 GMT
recorded_with: VCR 3.0.3
