---
http_interactions:
- request:
    method: post
    uri: https://app.alegra.com/api/v1/bank-accounts/7/transfer
    body:
      encoding: UTF-8
      string: '{"idDestination":4,"amount":100000,"date":"2020-02-25"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic aW5mb0BxdWluY2VuYS5tZTo2ZTZhOGVkODhkOGNhMmIyN2MyMg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '150'
      X-Rate-Limit-Reset:
      - "-2"
      X-Rate-Limit-Remaining:
      - '149'
    body:
      encoding: UTF-8
      string: '{"originAccount":{"id":"7","name":"test","number":null,"description":"","type":"bank","status":"active"},"destinationAccount":{"id":"4","name":"Bancolombia","number":"0093230987","description":"Cuenta
        de Bancolombia","type":"bank","status":"active"},"amount":100000}'
  recorded_at: Wed, 26 Feb 2020 01:05:54 GMT
recorded_with: VCR 5.1.0
