---
http_interactions:
- request:
    method: post
    uri: https://app.alegra.com/api/v1/items
    body:
      encoding: UTF-8
      string: '{"name":"leather","description":"Brown leather wallet","reference":"CAR-195","category":{"id":1},"inventory":{"unit":"piece","unitCost":2560,"initialQuantity":160},"tax":[{"id":3}],"price":[{"price":4050}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZWplbXBsb2FwaUBkYXlyZXAuY29tOjA2NmIzYWIwOWU3MmQ0NTQ4ZTg4
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Rate-Limit-Limit:
      - '150'
      X-Rate-Limit-Reset:
      - "-2"
      X-Rate-Limit-Remaining:
      - '149'
    body:
      encoding: UTF-8
      string: '{"id":"3","name":"leather","description":"Brown leather wallet","reference":"CAR-195","status":"active","category":{"id":"1","name":"Ingresos"},"price":[{"idPriceList":"1","name":"General","price":"4050.0000"}],"inventory":{"initialQuantity":160,"unit":"piece","availableQuantity":160,"unitCost":2560},"tax":[{"id":"3","name":"IVA","percentage":"16.00","description":""}]}'
  recorded_at: Tue, 25 Oct 2016 16:38:46 GMT
recorded_with: VCR 3.0.3
