---
http_interactions:
- request:
    method: post
    uri: https://app.alegra.com/api/v1/contacts
    body:
      encoding: UTF-8
      string: '{"name":"Armando Casas","identification":"963.654.988","email":"armando.casas@alegra.com","phonePrimary":"111
        11 11","seller":{"id":"1"},"term":{"id":2},"type":["client"],"address":{"address":"Avenida
        Madison","city":"New York, USA"},"internalContacts":[{"name":"Lina","lastName":"Montoya","email":"prueba4@alegra.com","phone":"123
        45 67 ext 25","mobile":"(333) 333 33 33","sendNotifications":"no"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZWplbXBsb2FwaUBkYXlyZXAuY29tOjA2NmIzYWIwOWU3MmQ0NTQ4ZTg4
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Rate-Limit-Limit:
      - '150'
      X-Rate-Limit-Reset:
      - "-2"
      X-Rate-Limit-Remaining:
      - '149'
    body:
      encoding: UTF-8
      string: '{"id":"4","name":"Armando Casas","identification":"963.654.988","email":"armando.casas@alegra.com","phonePrimary":"111
        11 11","phoneSecondary":null,"fax":null,"mobile":null,"observations":null,"address":{"address":"Avenida
        Madison","city":"New York, USA"},"type":["client"],"seller":{"id":"1","name":"Elmo
        Caritas","identification":"123123123","observations":"Elmo Caritas"},"term":{"id":"2","name":"8
        d\u00edas","days":"8"},"priceList":null,"internalContacts":[{"id":"2","name":"Lina","lastName":"Montoya","email":"prueba4@alegra.com","phone":"123
        45 67 ext 25","mobile":"(333) 333 33 33","sendNotifications":false}]}'
  recorded_at: Fri, 14 Oct 2016 15:44:17 GMT
recorded_with: VCR 3.0.3
