---
http_interactions:
- request:
    method: post
    uri: https://app.alegra.com/api/v1/contacts
    body:
      encoding: UTF-8
      string: '{"name":"Alan Britho"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZWplbXBsb2FwaUBkYXlyZXAuY29tOjA2NmIzYWIwOWU3MmQ0NTQ4ZTg4
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Rate-Limit-Limit:
      - '150'
      X-Rate-Limit-Reset:
      - "-2"
      X-Rate-Limit-Remaining:
      - '149'
    body:
      encoding: UTF-8
      string: '{"id":"2","name":"Alan Britho","identification":null,"email":null,"phonePrimary":null,"phoneSecondary":null,"fax":null,"mobile":null,"observations":null,"address":{"address":null,"city":null},"type":[],"seller":null,"term":null,"priceList":null,"internalContacts":[]}'
  recorded_at: Fri, 14 Oct 2016 15:16:20 GMT
recorded_with: VCR 3.0.3
