---
http_interactions:
- request:
    method: get
    uri: https://app.alegra.com/api/v1/contacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZWplbXBsb2FwaUBkYXlyZXAuY29tOjA2NmIzYWIwOWU3MmQ0NTQ4ZTg4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Rate-Limit-Limit:
      - '150'
      X-Rate-Limit-Reset:
      - "-2"
      X-Rate-Limit-Remaining:
      - '149'
    body:
      encoding: UTF-8
      string: '[{"id":"1","name":"cliente","identification":"123456789","email":"cliente@test.com","phonePrimary":"","phoneSecondary":"","fax":"","mobile":"3004232123","observations":"Este
        es un usuario de prueba","address":{"address":"calle 1 # 3-2","city":"Medellin"},"type":["client","provider"],"seller":null,"term":{"id":"1","name":"De
        contado","days":"0"},"priceList":{"id":"1","name":"General"},"internalContacts":[]}]'
  recorded_at: Fri, 14 Oct 2016 15:09:02 GMT
recorded_with: VCR 3.0.3
