---
http_interactions:
- request:
    method: get
    uri: https://app.alegra.com/api/v1/items
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZWplbXBsb2FwaUBkYXlyZXAuY29tOjA2NmIzYWIwOWU3MmQ0NTQ4ZTg4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Rate-Limit-Limit:
      - '150'
      X-Rate-Limit-Reset:
      - "-2"
      X-Rate-Limit-Remaining:
      - '149'
    body:
      encoding: UTF-8
      string: '[{"id":1,"name":"item1","description":"item de venta 1","reference":"ref1","status":"active","category":{"id":"3","name":"Ventas"},"price":[{"idPriceList":"1","name":"General","price":"40.0000"}],"tax":[{"id":"3","name":"IVA","percentage":"16.00","description":""}]},{"id":2,"name":"item2","description":"item2
        de venta","reference":"ref2","status":"active","category":{"id":"3","name":"Ventas"},"price":[{"idPriceList":"1","name":"General","price":"80.0000"}],"tax":[{"id":"3","name":"IVA","percentage":"16.00","description":""}]}]'
  recorded_at: Tue, 25 Oct 2016 16:13:06 GMT
recorded_with: VCR 3.0.3
