---
http_interactions:
- request:
    method: get
    uri: https://app.alegra.com/api/v1/users/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZWplbXBsb2FwaUBkYXlyZXAuY29tOjA2NmIzYWIwOWU3MmQ0NTQ4ZTg4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '150'
      X-Rate-Limit-Reset:
      - "-2"
      X-Rate-Limit-Remaining:
      - '149'
    body:
      encoding: UTF-8
      string: '{"name":null,"lastName":null,"email":"ejemplo@ejemplo.com","role":"admin","status":"active","id":"1","permissions":{"bank-accounts":{"add":"allow","transfer":"allow","view":"allow"},"bills":{"add":"allow","delete":"allow","edit":"allow","view":"allow"},"categories":{"view":"allow"},"contacts":{"add":"allow","delete":"allow","edit":"allow","view":"allow"},"company":{"edit":"allow","retrieve-info":"allow"},"invoices":{"add":"allow","edit":"allow","email":"allow","view":"allow","void":"allow","edit-items-prices":"allow"},"items":{"add":"allow","delete":"allow","edit":"allow","view":"allow"},"retentions":{"view":"allow"},"taxes":{"view":"allow"},"terms":{"view":"allow"},"payments":{"add":"allow","edit":"allow","view":"allow","edit-in":"allow","edit-out":"allow","retrieve-in":"allow","viewin":"allow","viewout":"allow"},"price-lists":{"view":"allow"},"remissions":{"add":"allow","edit":"allow","delete":"allow","view":"allow"},"estimates":{"add":"allow","delete":"allow","view":"allow","edit":"allow"},"currencies":{"index":"allow"},"sellers":{"add":"allow","edit":"allow"},"pos-cashier":{"close":"allow","index":"allow","open":"allow","view":"allow"},"pos-station":{"add":"allow","edit":"allow","view":"allow","index":"allow","delete":"allow"}}}'
  recorded_at: Tue, 25 Feb 2020 23:55:49 GMT
recorded_with: VCR 5.1.0
