---
http_interactions:
- request:
    method: get
    uri: https://app.alegra.com/api/v1/bank-accounts/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZWplbXBsb2FwaUBkYXlyZXAuY29tOjA2NmIzYWIwOWU3MmQ0NTQ4ZTg4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '150'
      X-Rate-Limit-Reset:
      - '59'
      X-Rate-Limit-Remaining:
      - '148'
    body:
      encoding: UTF-8
      string: '{"id":"2","name":"Banco 1","number":null,"description":"","type":"bank","status":"active"}'
  recorded_at: Wed, 26 Feb 2020 00:51:03 GMT
recorded_with: VCR 5.1.0
