---
http_interactions:
- request:
    method: get
    uri: https://app.alegra.com/api/v1/journals/191
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic aW5mb0BxdWluY2VuYS5tZTo2ZTZhOGVkODhkOGNhMmIyN2MyMg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '150'
      X-Rate-Limit-Reset:
      - "-2"
      X-Rate-Limit-Remaining:
      - '149'
    body:
      encoding: UTF-8
      string: '{"id":"191","entries":[{"id":"5009","client":{"id":"416","name":"Rodrigo
        Rodr\u00edguez","identification":"315474402","email":null,"phonePrimary":null,"phoneSecondary":null,"fax":null,"mobile":null,"observations":null,"kindOfPerson":"PERSON_ENTITY","regime":"","nameObject":{"firstName":"Rodrigo","lastName":"Rodr\u00edguez"},"identificationObject":{"type":"CC","number":"315474402"},"address":{"address":null,"city":null,"department":null,"country":null,"zipCode":null},"type":["provider"],"seller":null,"term":null,"priceList":null,"internalContacts":[]},"name":"Salarios","description":null,"debit":3000000,"credit":0},{"id":"5048","client":{"id":"416","name":"Rodrigo
        Rodr\u00edguez","identification":"315474402","email":null,"phonePrimary":null,"phoneSecondary":null,"fax":null,"mobile":null,"observations":null,"kindOfPerson":"PERSON_ENTITY","regime":"","nameObject":{"firstName":"Rodrigo","lastName":"Rodr\u00edguez"},"identificationObject":{"type":"CC","number":"315474402"},"address":{"address":null,"city":null,"department":null,"country":null,"zipCode":null},"type":["provider"],"seller":null,"term":[...]
