---
http_interactions:
- request:
    method: put
    uri: https://app.alegra.com/api/v1/journals/193
    body:
      encoding: UTF-8
      string: '{"entries":[{"id":"5009","debit":3000000},{"id":"5048","credit":4150660},{"id":"5008","debit":655000},{"id":"5010","debit":495660}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic aW5mb0BxdWluY2VuYS5tZTo2ZTZhOGVkODhkOGNhMmIyN2MyMg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '150'
      X-Rate-Limit-Reset:
      - "-2"
      X-Rate-Limit-Remaining:
      - '149'
    body:
      encoding: UTF-8
      string: '{"id":"193","entries":[{"id":"5009","client":null,"name":"Salarios","description":null,"debit":3000000,"credit":0},{"id":"5048","client":null,"name":"Obligaciones
        financieras y pr\u00e9stamos a terceros","description":null,"debit":0,"credit":4150660},{"id":"5008","client":null,"name":"Prestaciones
        sociales","description":null,"debit":655000,"credit":0},{"id":"5010","client":null,"name":"Seguridad
        social y parafiscales","description":null,"debit":495660,"credit":0}],"client":null,"date":"2020-03-05","observations":null,"reference":null,"status":"open","total":4150660}'
  recorded_at: Thu, 05 Mar 2020 15:12:17 GMT
recorded_with: VCR 5.1.0
